.filter-table {
	overflow-y: auto;
	height: 440px;
	margin-top: 20px;
	margin-left: 70px;
	width: 90vw;
}
.filter-table thead th {
	position: sticky;
	top: 0;
}
table {
	border-collapse: collapse;
	width: 100%;
}
th,
td {
	padding: 8px 16px;
}
th {
	background: #eee;
}
.filter-table,
.filter-table td {
	box-shadow: inset 1px -1px #000;
}
.filter-table th {
	box-shadow: inset 1px 1px #000, 0 1px #000;
}